# data
*.jpg
*.pth
*.pt
*.onnx
*.png
*.pkl
workspace/DROP
workspace/06Explain_create_frustum/*.pkl
/workspace/10Explain_output_visualize/*.pkl
/workspace/08Explain_bev_pool/*.pkl

# git add {files}
# git status
# git commit -m "aaaa"
# git pull
# git push